/* || Standard */

:root {
    --navbar-bg-color: rgb(255, 255, 255);
    --body-bg-color: rgb(245, 245, 245);
    --hover-gb-color: rgb(245, 245, 245);
}

body {
    background-color: var(--body-bg-color);
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

/* || App */

#app {
    display: flex;
    flex-direction: row;
}

/* || Nav bar */

#navbar {
    justify-content: space-between;
    background-color: var(--navbar-bg-color);
    width: 60px;
    height: 100%;
    position: fixed;
    transition: .3s;
}

@media screen and (min-width: 768px) {
    #navbar:hover {
        width: 140px;
        transition: .1s;
    }

    #navbar:hover span {
        display: flex;
        opacity: 1;
        transition: .5s;
    }

    .item-container li:hover{
        background-color: var(--hover-gb-color);
    }

    .flex-bottom:hover {
        background-color: var(--hover-gb-color);
    }
}

#navbar-mid li {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.item-container a {
    width: 60px;
    height: 60px;
    display: flex;
    text-decoration: none;
}

.icon {
    width: 20px;
    height: 20px;
    margin: auto;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto 0 auto 0;
}

.flex-bottom {
    display: flex;
    width: 100%;
    margin-top: auto;
    position: absolute;
    bottom: 0;
}

#navbar span {
    opacity: 0;
    position: absolute;
    left: 50px;
    width: 70px;
    margin-right: auto;
    height: 60px;
    justify-content: center;
    align-items: center;
    color: black;
}

/* ||||||||||||||||||||| */
/* || Content Section || */
/* ||||||||||||||||||||| */

#page {
    margin-left: 60px;
    flex: 1;
}

.snap-container {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow: scroll;
    /* margin: auto; */
}

.content {
    box-sizing: border-box;
    padding: 20px;
}

.snap {
    scroll-snap-align: start;
}

/* For testing */
#about {
    height: 1200px;
    background-color: rgb(245, 245, 245);
}

#resume {
    height: 1200px;
    background-color: rgb(122, 122, 122);
}


/* || Resposive mobile */

@media screen and (max-width: 768px) {
    /* For mobile phones: */
    #app {
        flex-direction: column;
    }

    #navbar {
        width: 100%;
        height: 60px;
        bottom: 0;
    }
    
    .flex-center {
        flex-direction: row;
        margin: 0 auto 0 auto;
    }

    .flex-bottom {
        margin-left: auto;
        right: 0;
        justify-content: flex-end;
    }

    .container {
        display: flex;
        order: 1;
        align-self: end;
    }

    #page {
        margin-bottom: 60px;
        margin-left: 0px;
    }
    
    #navbar span {
        display: none;
    }
}
